body{
    background-color: teal; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 200px;
    width: 200px;
    border: black 10px solid;
    margin: 10px;
    border-radius: 5px;
}
button:hover{
    cursor: pointer;
    opacity: 8%;
    
}
#btn_red{
    background-color:rgb(204, 57, 31);
    

}
#btn_blue{
    background-color: rgb(78, 78, 238);
    

}
#btn_green{
    background-color: rgb(125, 245, 125);
   

}
#btn_yellow{
    background-color:rgb(214, 214, 36);
    

}


