body{
    background-color: teal; 
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 200px;
    width: 200px;
}
button:hover{
    cursor: pointer;
    opacity: 10%;
}
#btn_red{
    background-color: red;
}
#btn_blue{
    background-color: blue;
}
#btn_green{
    background-color: green;
}
#btn_yellow{
    background-color:yellow;
}

